.frame-child,
.frame-item {
  background-color: transparent;
  top: 0;
  width: 407px;
  overflow: hidden;
}
.frame-child {
  border: 1px solid var(--color-black);
  position: absolute;
  left: 1px;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  height: 64px;
}
.frame-item {
  left: 471px;
}
.choir-parent,
.frame-inner,
.frame-input,
.frame-item {
  position: absolute;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 64px;
}
.frame-inner {
  background-color: transparent;
  top: 166px;
  left: 0;
  width: 408px;
}
.choir-parent,
.frame-input {
  top: 219px;
  left: 472px;
  width: 407px;
  overflow: hidden;
}
.frame-input {
  background-color: transparent;
  top: 330px;
  left: 471px;
}
.frame-child1,
.frame-child2 {
  background-color: transparent;
  left: 1px;
  width: 407px;
}
.frame-child1 {
  border: 1px solid var(--color-black);
  position: absolute;
  top: 249px;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  height: 64px;
  overflow: hidden;
}
.frame-child2 {
  top: 331px;
  height: 61px;
}
.female-parent,
.frame-child2,
.frame-child3,
.frame-child4,
.frame-child5,
.frame-child6,
.frame-child7 {
  position: absolute;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.frame-child3 {
  background-color: transparent;
  top: 466px;
  left: 1px;
  width: 407px;
  height: 61px;
}
.female-parent,
.frame-child4,
.frame-child5,
.frame-child6,
.frame-child7 {
  overflow: hidden;
}
.frame-child4 {
  background-color: transparent;
  top: 464px;
  left: 656px;
  width: 223px;
  height: 63px;
}
.female-parent,
.frame-child5,
.frame-child6,
.frame-child7 {
  top: 466px;
  left: 472px;
  width: 168px;
  height: 61px;
}
.frame-child5,
.frame-child6,
.frame-child7 {
  background-color: transparent;
  top: 83px;
  left: 1px;
  width: 407px;
  height: 64px;
}
.frame-child6,
.frame-child7 {
  left: 471px;
  width: 230px;
}
.frame-child7 {
  left: 718px;
  width: 161px;
}
.submit {
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.submit-wrapper {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: var(--color-mediumseagreen);
  position: absolute;
  top: 659px;
  left: 1px;
  border-radius: var(--br-mini);
  width: 878px;
  height: 76px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-parent {
  position: absolute;
  top: 308px;
  left: 91px;
  width: 879px;
  height: 735px;
}
.make-your-own {
  position: absolute;
  top: 96px;
  left: 92px;
  font-size: var(--font-size-18xl);
  letter-spacing: 0.02em;
  line-height: 71px;
}
.by-registering-you,
.personal-information {
  position: absolute;
  left: 92px;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.by-registering-you {
  top: 139px;
  font-size: var(--font-size-lgi-7);
  line-height: 71px;
  color: var(--color-dimgray-100);
}
.personal-information {
  top: 258px;
  line-height: 30px;
}
.date-of-birth {
  top: 732px;
  left: 747px;
  color: var(--color-dimgray-100);
}
.date-of-birth,
.emergency-contact,
.gender,
.interests,
.skill-tags,
.words-of-wisdom {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 500;
}
.skill-tags {
  top: 732px;
  left: 92px;
  color: var(--color-dimgray-100);
}
.emergency-contact,
.gender,
.interests,
.words-of-wisdom {
  top: 258px;
  left: 562px;
}
.gender,
.interests,
.words-of-wisdom {
  top: 478px;
}
.gender,
.words-of-wisdom {
  top: 733px;
}
.words-of-wisdom {
  top: 605px;
  left: 563px;
}
.register-page-2-child,
.register-page-2-item {
  position: absolute;
  top: 0;
  left: 1196px;
  width: 532px;
  height: 1117px;
}
.register-page-2-child {
  object-fit: cover;
}
.register-page-2-item {
  background-color: var(--color-mediumseagreen);
  opacity: 0.5;
  mix-blend-mode: multiply;
}
.hope-for {
  margin: 0;
  font-weight: 500;
}
.humanity {
  margin: 0;
}
.hope-for-humanity-container {
  position: absolute;
  top: 1.55px;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 25.24px;
  text-transform: uppercase;
}
.group-child,
.h {
  position: absolute;
}
.group-child {
  top: 0;
  left: 147px;
  border-radius: var(--br-sm-4);
  background-color: var(--color-white);
  border: 4px solid var(--color-white);
  box-sizing: border-box;
  width: 52.25px;
  height: 52.25px;
}
.h {
  top: 6.7px;
  left: 161.74px;
  font-size: 48.75px;
  letter-spacing: 0.02em;
  line-height: 50.7px;
  text-transform: uppercase;
  font-family: var(--font-open-sans);
  color: var(--color-mediumseagreen);
  text-align: left;
}
.hope-for-humanity-parent {
  position: absolute;
  top: 99.69px;
  left: 1429px;
  width: 199.25px;
  height: 57.7px;
  text-align: right;
  font-size: 24.27px;
  color: var(--color-white);
}
.register-page-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frame-item {
    width: 407px;
  }
  .register-page-2-child,
  .register-page-2-item {
    display: none;
    width: 532px;
  }
}
